.navbar {
    background: #f5593d;
    height: 80px;
   
    font-size: 1.2rem;
    width: 100%;
    height: 5rem;
    position: fixed;
    max-width: 100vw;
    overflow-x:auto;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
  }
  
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    position: fixed;
    width: 100%;
     text-align: right;
    direction: rtl;


  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
 
 

    text-decoration: none;
    padding: 0.5rem 1rem;
    
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    text-decoration: none;
    transition: all 0.2s ease-out;
  }
 
  
 